@import './global/variables.scss';
@import './global/reset.scss';
@import './global/styles.scss';

@import './partials/header.scss';
@import './partials/loader.scss';
@import './partials/login.scss';
@import './partials/recommend.scss';