nav {
  background-color: $theme-darker-black;
  color: $theme-white;

  #logo {
    cursor: pointer;
    margin: 0 20px;
    line-height: 68px;
  }

  ul {
    list-style-type: none;
    margin-right: 30px;

    > li {
      float: left;

      a {
        &:link {
          display: block;
          padding: 25px;
          color: $theme-white;
        }
        &:visited {
          color: $theme-white;
        }
        &:hover {
          background-color: $theme-light-green;
        }
        &:active {
          background-color: $theme-light-green;    
        }
      }
    }
  }
}

#search {
  position: relative;
  padding: 5px;
  top: 16px;
  border: none;
  margin-right: 20px;
  border-radius: 5px;
}