.login-form {
    position: relative;
    top: 80px;
    width: 30%;
    color: $theme-dark-gray;
    margin: 0 auto 100px;
    padding: 80px 20px 20px 20px;
    text-align: center;
    box-shadow: 0 5px 20px 0 $theme-darker-black;

    h1 {
        margin-bottom: 45px;
        font-size: 2em;
        color: $theme-white;
    }
    
    input {
        margin: 30px auto;
        padding: 10px 0;
        display: block;
        border: none;
        width: 100%;
        font-size: 1em;
        background-color: $theme-black;
        color: $theme-dark-gray;
        border-bottom: 1px solid $theme-dark-gray;
        
        &:focus {
            outline: none;
            font-size: 1.1em;
            color: $theme-white;
            border-bottom: 1px solid $theme-white;
        }
    }

    &__button {
        width: 100%;
        font-size: 1.2em;
        padding: 10px 0;
        background: $theme-light-green;
        border: none;
        color: $theme-white;
        margin: 30px 0;

        &:hover {
            background: $theme-dark-green;
        }
    }

    &__register {
        margin: 30px 0;

        p, a {
            font-size: 1.2vw;
            margin-bottom: 5px;
        }

        a {
            color: $theme-dark-green;

            &:hover {
                color: $theme-white;
            }
        }
        
    }
}