.recommendation {
  padding: 30px;

  h2 {
      font-size: 24px;
      margin: 35px 0 15px 0;
      text-align: left;
  }
}

.recommendation_card {
  width: 60%;
  padding: 50px;
  margin: 50px auto;
  border: 1px solid tomato;
  border-radius: 6px;
}

.recommendation_card__action {
  float: right;
}

.recommendation_card__action > button {
  padding: 10px 20px;
  position: relative;
  margin: 0 10px 0 10px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.recommendation_card__action > .like {
  background-color: #4CAF50;
  color: white;
}

.recommendation_card__action > .like:hover {
  background-color: #43A047;
}

.recommendation_card__action > .no_like {
  background-color: #FF8A65;
  color: white;
}

.rec-fields {
  margin: 10px 0;

  input {
    padding: 5px;
    min-width: 200px;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 4px;
    color: white;
    outline: none;

    &:hover {
      outline: none;
    }
  }

  label {
    display: inline-block;
    margin-right: 10px;
    text-align: left;
    width: 225px;
  }

  select {
    width: 215px;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    outline: none;
  }
}

.select-dropdown {
  margin: 0 5px;
  display: inline-block;
}
