$theme-black: #35363E;
$theme-darker-black: #292a30;
$theme-light-green: #4DB6AC;
$theme-dark-green: #009688;
$theme-darker-green: #00897B;
$theme-white: #FDFDFD;
$theme-dark-gray: #A9A9AA;
$theme-light-gray: #D3D1D1;

@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee');

$theme-font: 'Mukta Mahee', sans-serif;