.main {
    background-color: $theme-black;
    color: $theme-white;
    font-family: $theme-font;
}

.page {
    min-height: calc(100vh - 80px);
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

a {
    text-decoration: none;
}

.header-main {
    font-size: 36px;
    text-align: center;
    margin: 150px 0;
}