.main {
  background-color: $theme-black;
  color: $theme-white;
  font-family: $theme-font;
}

.page {
  min-height: calc(100vh - 80px);
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
}

.header {
  &__main {
    font-size: 36px;
    margin: 100px 0;
  }

  &__sub {
    font-size: 24px;
    margin: 25px;
  }
}

.button-main {
  padding: 10px 20px;
  margin: 0 0 20px 0;
  position: relative;
  top: 14px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: $theme-darker-green;
  color: $theme-white;
  cursor: pointer;

  &:hover {
    background-color: $theme-dark-green;
  }
}

.center {
  text-align: center;
}

#userDash {
  transition: transform 500ms ease-in;
  opacity: 1.0;
  position: relative;
  margin: 0 0 10px 0;
}

#userDash.slideOut {
  transform: translateY(-10%);
}

#header.fadeOut {
  transition: opacity 500ms;
  opacity: 0.0;
}



